// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "imx6ull-14x14-evk.dts"

/ {
	model = "Alientek i.MX6ULL Alpha";
	compatible = "alientek,imx6ull-alpha", "fsl,imx6ull";

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x20000000>;
	};
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	phy-reset-gpios = <&gpio5 7 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <200>;
	status = "okay";
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet2>;
	phy-mode = "rmii";
	phy-handle = <&ethphy1>;
	phy-reset-gpios = <&gpio5 8 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <200>;
	status = "okay";
};

&mdio {
	ethphy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id0007.e410", "ethernet-phy-ieee802.3-c22";
		reg = <0>;
		smsc,disable-energy-detect;
		clocks = <&clks IMX6UL_CLK_ENET_REF>;
		clock-names = "rmii-ref";
	};

	ethphy1: ethernet-phy@1 {
		compatible = "ethernet-phy-id0007.e410", "ethernet-phy-ieee802.3-c22";
		reg = <1>;
		smsc,disable-energy-detect;
		clocks = <&clks IMX6UL_CLK_ENET_REF>;
		clock-names = "rmii-ref";
	};
};
